.header {
    box-shadow: 0 3px 3px #BBBBBB;
    top: 0px;
    padding-top: 10px;
    position: fixed;
    background-image: linear-gradient(to bottom, #222, #111);
    background-color: #1b1b1b;
    border-color: #252525;
    background-repeat: repeat-x;
    width: 100%;
    z-index: 10000;
}

h3 {
    font-weight: 300;
}